<div class="container">
    <div class="text-container">
        <div>
            <h2 [ngStyle]="{'color': isChanged ? 'black' : 'white'}">Des étapes définies</h2>
            <p [class]="{'is-changed' : isChanged} ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <button class="btn" (click)="changeStyle()">Changer le style</button>
        <p>État : {{isChanged ? 'Stylé changé' : 'Style par défaut'}}</p>
    </div>
    <img src="/assets/about-us.svg" alt="">
</div>